/* #moveit {
    animation: car 5s linear 1s infinite normal;
    width: 200px;
    height: 200px;
    background-color: red;
}

@keyframes car {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(1500px,700px);
    }
} */
* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container {
        width: 100%;
        background-image: url(./sqi/skye.jpeg);
        position: relative;
    }
    .newclass {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 10vh;
    }

.newsclass {
    position: absolute;
}
    .newsclass img{
        height: auto;
    }
    .newsclasses {
        padding: 20px;
        background-color: green;
        width: 100%;
    }
    .bird{
        position: absolute;
        top: -70px;
        left: 200px;
    }
    .bird img{
        height: 250px;
    }
    .bird1 {
        position: absolute;
        top: -70px;
        left: 500px;
    }
    .light {
        display: flex;
        position: absolute;
        top: 420px;
        left: 50px;
        gap: 300px;
    }
    .light img{
        height: 200px;
    }
    .road {
        position: relative;
        width: 100%;
        height: 30vh;
        background-image: url("https://trafficanimation.netlify.app/images/road.jfif");
        background-size: cover;
        background-position: center;
    }
    .newclasses {
        padding: 40px;
        background-color: grey;
    }
    .road img{
        display: flex;
        position: absolute;
        width: 100%;
        height: 30vh;
    }
    .road2 img{
        display: flex;
        position: absolute;
        width: 100%;
        height: 30vh;
    }
    .move {
        position: relative;
    }
    .move img:nth-child(1) {
        position: absolute;
        /* top: 190px;
        left: 20px; */
        animation: move1 7s linear infinite;
        height: 150px;
    }
    .move img:nth-child(2) {
        position: absolute;
        /* top: -10px;
        left: 800px; */
        animation: move2 3s linear infinite;
        height: 150px;
    }
    .move img:nth-child(3) {
        position: absolute;
        /* top: 20px; */
        /* left: 600px; */
        animation: move3 5s linear infinite;
        height: 300px;
    }
    .move img:nth-child(4) {
        position: absolute;
        /* top: 190px; */
        /* left: 1400px; */
        animation: move4 7s linear infinite;
        height: 150px;
    }
    .move img:nth-child(5) {
        position: absolute;
        /* top: 390px; */
        /* left: 1500px; */
        animation: move5 10s linear infinite;
        height: 150px;
    }
    .move img:nth-child(6) {
        position: absolute;
        /* top: 750px; */
        /* left: 5px; */
        animation: move6 7s linear infinite;
        height: 100px;
    }
    .move img:nth-child(7) {
        position: absolute;
        /* top: 750px; */
        /* left: 20px; */
        animation: move7 7s linear infinite;
        height: 100px;
    }
    .move img:nth-child(8) {
        position: absolute;
        /* top: 750px; */
        /* left: 5px; */
        animation: move8 9s linear infinite;
        height: 100px;
    }
    .move img:nth-child(9) {
        position: absolute;
        /* top: 270px; */
        /* left: 1200px; */
        animation: move9 8s linear infinite;
        height: 150px;
    }
    .move img:nth-child(10) {
        position: absolute;
        /* top: 320px; */
        /* left: 1400px; */
        animation: move10 6s linear infinite;
        height: 150px;
    }
    .move img:nth-child(11) {
        position: absolute;
        /* top: 680px; */
        /* left: 10px; */
        animation: move11 4s linear infinite;
        height: 60px;
    }

    @keyframes move1 {
        from {
            transform: translate(0px,190px); 
        }
        to { 
            transform: translate(1500px,190px); 
        }
    }
    @keyframes move2 {
        from { 
            transform: translate(1500px,-10px);
        }
        to { 
            transform: translate(0px,-10px);
        }
    }
    @keyframes move3 {
        from { 
            transform: translate(1500px,20px);
        }
        to { 
            transform: translate(0px,20px);
        }
    }
    @keyframes move4 {
        from {
            transform: translate(1500px,190px); 
        }
        to { 
            transform: translate(0px,190px); 
        }
    }
    @keyframes move5 {
        from {
            transform: translate(1500px,390px); 
        }
        to { 
            transform: translate(0px,390px); 
        }
    }
    @keyframes move6 {
        from {
            transform: translate(0px,750px); 
        }
        to { 
            transform: translate(1500px,750px); 
        }
    }
    @keyframes move7 {
        from {
            transform: translate(0px,750px); 
        }
        to { 
            transform: translate(1500px,750px); 
        }
    }
    @keyframes move8 {
        from {
            transform: translate(0px,750px); 
        }
        to { 
            transform: translate(1500px,750px); 
        }
    }
    @keyframes move9 {
        from {
            transform: translate(1500px,270px); 
        }
        to { 
            transform: translate(0px,270px); 
        }
    }
    @keyframes move10 {
        from {
            transform: translate(1500px,320px); 
        }
        to { 
            transform: translate(0px,320px); 
        }
    }
    @keyframes move11 {
        from {
            transform: translate(0px,680px); 
        }
        to { 
            transform: translate(1500px,680px); 
        }
    }